@font-face {
	font-family: 'Pensum Regular';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/PensumPro-Regular.otf') format('opentype');
}

@font-face {
	font-family: 'Pensum Regular Italic';
	font-style: italic;
	font-weight: 400;
	src: url('../fonts/PensumPro-RegularItalic.otf') format('opentype');
}

body {
	background-color: #E8DFDF;
	/*background-color: #FFFFFF;*/
	font-family: 'Pensum Regular', Georgia, serif;
	-webkit-font-smoothing: antialiased;
	font-size: 1.25em;
	line-height: 1.2em;
	color: rgba(31, 30, 36, 1);
	padding: 20px 60px;
	margin: 0;
}

i {
	font-family: 'Pensum Regular Italic';
}


/*Home------------------*/

.gradient {
	background-color: #DDD1D1;
	background-image: linear-gradient(#9B99AB 0%, #DDD1D1 100%);
	height: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #1F1E23;
}

.intro {
	font-size: 1.500em;
	line-height: 1.2em;
	width: 70%;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	height: 9em;
}

.gradient nav ul{
	color: rgba(31, 30, 36, 1);
}

.gradient footer ul {
	color: rgba(31, 30, 36, 0.5);
}


/*Navigation--------------*/

nav ul {
	margin: 0 auto;
	padding: 0;
	list-style: none;
	color: rgba(31, 30, 36, 1);
}

footer ul {
	margin: 0 auto;
	padding: 0;
	list-style: none;
	color: rgba(31, 30, 36, 0.6);
}

nav li, footer li {
	margin: 0;
	padding-right: 20px;
	list-style: none;
	text-decoration: none;
	display: inline;
}

.name {
	float: right;
}


/*Links------------------*/

a:link, a:visited {
	color: rgba(31, 30, 36, 0.6);
	text-decoration: none;
}

a:hover {
	color: rgba(31, 30, 36, 1);
	text-decoration: none;
}

.gradient a:link, a:visited {
	color: rgba(31, 30, 36, 0.5);
	text-decoration: none;
}

.gradient a:hover {
	color: rgba(31, 30, 36, 1);
	text-decoration: none;
}


/*Table------------------*/

table {
	margin-top: 4em;
	width: 100%;
	border-collapse: collapse;
	text-align: left;
}

th {
	font-feature-settings: 'c2sc' 1, 'smcp' 1;
	cursor: pointer;
	color: rgba(31, 30, 36, 0.5);
}

th:hover {
	cursor: pointer;
	color: rgba(31, 30, 36, 1);
}

.publisher {
	font-family: 'Pensum Regular Italic', Georgia, serif;
}

td, th {
	padding: 10px 0;
	font-weight: 400;
	border-bottom: 1px solid rgba(31, 30, 36, 0.1);
}

tbody tr:hover {
	background: rgba(31, 30, 36, 0.1);
	cursor: pointer;
}

/*Selected writing----------*/

.selected-writing {
	margin: 0 auto;
	margin-top: 4em;
	width: 70%;
}

.sw-row {
	margin: 0 auto;
	width: 100%;
	margin-bottom: 1em;
}

.sw-row:hover {
	color: rgba(31, 30, 36, 0.5);
	cursor: default;
}

.sw-heading {
	width: 50%;
	text-align: right;
	font-feature-settings: 'c2sc' 1, 'smcp' 1;
	color: rgba(31, 30, 36, 0.5);
	margin-right: 20px;
	margin-top: 2em;
}

.sw-title {
	width: 50%;
	text-align: right;
	display: inline-block;
	margin-right: 20px;
	vertical-align: text-top;
}

.sw-publication {
	width: 30%;
	display: inline-block;
	vertical-align: text-top;
	margin-right: 20px;
	font-family: 'Pensum Regular Italic', Georgia, serif;
}

.sw-year {
	width: 10%;
	display: inline-block;
	vertical-align: text-top;
}

.selected-writing a:link, .selected-writing a:visited {
	color: rgba(31, 30, 36, 1);
}

.selected-writing a:hover {
	color: rgba(31, 30, 36, 0.5);
}

/*Editing-----------------*/

.editing {
	margin-top: 4em;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: flex-start;
}

.item {
	width: 50%;
	min-height: 300px;
	min-width: 400px;
	margin-bottom: 3em;
}

.cover {
	float: left;
	background-color: #CAC0C1;
	width: 50%;
	min-height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cover img {
	margin: 0 auto;
	max-width: 45%;
}

.description {
	float: right;
	width: 50%;
	min-height: 300px;
}

.description p, h3 {
	margin: 0 2.5em 0 1em;
}

.editing h3 {
	font: inherit;
}

.editing .publisher{
	font-family: 'Pensum Regular Italic';
}

.role {
	padding-top: 1em;
	color: rgba(31, 30, 36, 0.6);
}

/*Contact----------------*/

.contact {
	font-size: 1.500em;
	line-height: 1.2em;
	width: 70%;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	height: 9em;
}

.contact ul {
	margin: 0 auto;
	padding: 0;
	list-style: none;
	display: block;
	font-size: 0.667em;
	line-height: 0.75em;
}

.contact li {
	display: inline-block;
	padding-right: 1em;
}

/*Footer-----------------*/

footer {
	padding-bottom: 0px;
	margin:40px 0 20px 0;
	font-size: 0.8em;
}

.fixed {
	position: fixed;
	bottom: 0;
}

/*Media queries------------*/

@media (max-width: 900px) {
	body{
		padding: 20px;
	}
	.name {
		float: left;
	}
	nav {
		font-size: 0.75em;
		line-height: 1.4em;
	}
	nav ul {
		clear: left;
	}
	.intro {
		font-size: 1em; line-height: 1.2em; position: relative; width:100%; margin-top: 2em; height: auto;
	}
	.selected-writing {
		width: 100%;
	}
	.sw-heading {
		width: 100%;
		margin: 0;
		text-align: left;
	}
	.sw-title {
		text-align: left;
		width: 100%;
	}
	.sw-publication {
		width: 100%;
	}
	footer {
		display: none;
	}
	.item {
		width: 100%;
		min-height: auto;
		min-width: auto;
	}
	.cover {
		width: 100%;
	}
	.description {
		clear: left;
		float: left;
		min-height: auto;
	}
	.description p {
		margin: 0;
	}
	.description h3{
		margin: 1em 0 0 0;
	}
	.contact {
		font-size: 1em; line-height: 1.2em; position: relative; width:100%; margin-top: 2em; height: auto;
	}
}

