<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Hannah Gregory - Home</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Hannah Gregory - Writer and Editor">
	<meta name="robots" content="all">

	<!-- Stylesheet -->
	<link rel="stylesheet" href="../assets/css/normalize.css">
	<link rel="stylesheet" href="../assets/css/style.css">

</head>

<body>
	<header>
		<nav>
			<div class="name"><a href="../">Hannah Gregory</a></div>
			<ul>
				<li><a href="../writing">Writing</a></li>
				<li><a href="../editing">Editing</a></li>
				<li>Contact</li>
			</ul>
		</nav>
	</header>
	<main>
		<div class="contact">
			{{ content }}
		</div>
	</main>
	<footer class="fixed">
		<ul>
			<li>&copy; Hannah Gregory 2017</li>
			<li><a href="#">Twitter</a></li>
			<li><a href="#">TinyLetter</a></li>
		</ul>
	</footer>
</body>
</html>