
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Hannah Satz</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Hannah Satz - Writer and Editor">
	<meta name="robots" content="all">

	<!-- Stylesheet -->
	<link rel="stylesheet" href="../assets/css/normalize.css">
	<link rel="stylesheet" href="../assets/css/style.css">

	<!-- Javascript -->
	<script src="../assets/js/jquery-3.1.1.min.js"></script>
	<script src="../assets/js/scripts.js"></script>

</head>

<body class="page">
	<header>
		<nav>
			<div class="name"><a href="../">Hannah Satz</a></div>
			<ul>
				<li><a href="../writing">Writing</a></li>
				<li><a href="../editing">Editing</a></li>
				<li><a href="../contact">Contact</a></li>
			</ul>
		</nav>
	</header>

	<main>
		<article>
		<h3>{{ page.title }}</h3>
		{{ content }}
		</article>
	</main>

	<footer>
		<ul>
		<li>&copy; Hannah Satz 2017</li>
		<li><a href="https://twitter.com/hnnhstz">Twitter</a></li>
		<li><a href="http://tinyletter.com/hannah_e_gregory">TinyLetter</a></li>
	</ul>
	</footer>
</body>
</html>