<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Hannah Gregory - Writing</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Hannah Gregory - Writer and Editor">
	<meta name="robots" content="all">

	<!-- Stylesheet -->
	<link rel="stylesheet" href="../assets/css/normalize.css">
	<link rel="stylesheet" href="../assets/css/style.css">

	<!-- Javascript -->
	<script src="../assets/js/jquery-3.1.1.min.js"></script>
	<script src="../assets/js/scripts.js"></script>

</head>

<body>
	<header>
		<nav>
			<div class="name"><a href="../">Hannah Gregory</a></div>
			<ul>
				<li>Writing</li>
				<li><a href="../editing">Editing</a></li>
				<li><a href="../contact">Contact</a></li>
			</ul>
			<ul>
				<li>Selected Writing</li>
				<li><a href="../archive">Archive</a></li>
			</ul>
		</nav>
	</header>

	<main class="selected-writing">
		{{ content }}
	</main>

	<footer>
		<ul>
			<li>&copy; Hannah Gregory 2017</li>
			<li><a href="https://twitter.com/hannah_gregory">Twitter</a></li>
			<li><a href="http://tinyletter.com/hannah_e_gregory">TinyLetter</a></li>
		</ul>
	</footer>
</body>
</html>